@use "@picocss/pico/scss/colors" as colors;

#__next :is(button, [role="button"])[popovertarget] {
  all: unset;
  text-decoration: underline dotted var(--pico-primary);
  cursor: help;

  &:focus {
    outline: revert !important;
    outline-offset: revert;
  }
}

.content {
  border: unset;
  margin: revert;
  background-color: colors.$jade-500;

  header {
    background-color: colors.$jade-400;
    border-bottom: unset;

    button {
      float: right;
      background-color: transparent;
      padding: 5px;
      border: unset;

      .close-icon {
        $size: 25px;
        display: block;
        width: $size;
        height: $size;

        mask: var(--pico-icon-close);
        mask-size: contain;
        mask-position: center;

        background-color: var(--pico-primary-inverse);
        transition: var(--pico-transition);
      }

      &:not(:is(:hover, :focus, :focus-visible)) {
        .close-icon {
          background-color: rgb(from var(--pico-primary-inverse) r g b / 0.4);
        }
      }

      outline: revert;
    }
  }

  :global(.container) {
    max-width: 60ch;
  }

  p {
    color: var(--pico-primary-inverse);
    margin: unset;
  }
}
