footer.footer {
  font-size: 0.8rem;

  nav > * {
    width: 100%;
  }

  :global(.builder-columns) {
    row-gap: var(--pico-grid-column-gap);
  }

  nav ul {
    flex-direction: column;
    align-items: flex-start;
    margin-top: var(--pico-nav-element-spacing-vertical);

    li {
      padding-block: 0.25rem;
    }
  }
}
